.body {
    margin: 0;
    padding: 0;
    display: flex;
    overflow-x: hidden;
    position: absolute;
    left: 0;
    position: relative;
    overflow: hidden;
}
.noscript {
    background-color: #9e1fff;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    align-items: center;
}
.fade {
    display: inline-block;
    background: white;
    text-align: center;
    color: #9e1fff;
    font-size: 2em;
    padding: 10px;
    border-radius: 5px;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
    box-shadow: 0 0 0px rgba(0, 0, 0, 0.5);
    transition: font-size 0.2s ease-in-out;
}
.fade:hover {
    box-shadow: 0 0 10px #00000070;
    font-size: 2.7em;
    transition: font-size 0.2s ease-in-out;
}

.text {
    color: white;
font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 35px;
    padding: 10px;
}
.text1 {
    color: white;
font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 35px;
    font-style: normal;
    padding: 10px;
}
.HeroText {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;
    text-align: center;
}
.navtext {
    display: flex;
    color: white;
    padding-left: 5px;
    padding-right: 5px;
    text-decoration: none;
    align-items: center;
}
.navlogo {
    padding-left: 30px;
    padding-right: 30px;
    width: 4%;
    height: auto;
}
.navtext:hover {
    color: rgb(110, 16, 169);
    transition: color 0.1s ease-in-out;
}
.HeroBg {
    background: rgb(170,42,255);
    overflow: hidden;
    background: linear-gradient(144deg, rgba(170,42,255,1) 0%, rgba(201,0,255,1) 100%); 
    width: 100%;
    height: 100vh;
    vertical-align: middle;
    position: absolute;
    left: 0;
    z-index: -5;
}
.navdiv {
    text-decoration: none;
    background-color: #9e1fff;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    margin-left: -15px;
    color: white;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    font-size: 20px;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; /* Add this property */
    z-index: 100;
}         
.loginbutton {
    display: flex;
    text-decoration: none;
    align-items: center;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 20px;
    margin-left: 835px; 
    margin-right: 10px;
    background-color: white;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    transition: background-color 0.2s  ease-in-out;
}
.loginbutton:hover{
    background-color: #ebd2ff;
    text-decoration: none;
    transition: background-color 0.2s  ease-in-out;
}


.signupbutton {
    display: flex;
    text-decoration: none;
    align-items: center;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 20px;
    margin-right: 10px;
    background-color: white;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    transition: background-color 0.2s  ease-in-out;
}
.signupbutton:hover{
    text-decoration: none;
    background-color: #ebd2ff;
    transition: background-color 0.2s  ease-in-out;
}
.dividerslb {
    scale: 0.8px;
    display: flex;
    align-items: center;
    align-self: center;
    border-left: 2px solid rgb(255, 255, 255);
    height: 20px;
    padding-right: 10px;
    border-radius: 1px;
}
.heroabt {
 cursor: pointer;
 padding: 10px 30px 10px 30px ;
 margin: 30px;
 font-family: "Lato", sans-serif;
 font-weight: 700;
 color: white;
 line-height: 1.6em;
 max-width: 90%;
 background-color: #9e1fff;
 border: none;
 border-radius: 10px;
 opacity: 1;
 transition: all 0.1s ease;
}
.heroabt:hover {
 transition: all 0.1s ease;
 background-color: white;
 color: #9e1fff;
 box-shadow: -4px 4px 10px #0000005d;
}
.heroabt:active {
 opacity: .5;
}